time,name,sound
07:30,First Bell,school bell sound effect.mp3

07:43,National Anthem,sri-lanka-matha-national-anthems.mp3

07:45,Work Start Bell,school bell sound effect.mp3

07:46,Karaniya Meththa Suthraya,karaneeya-meththa-suthraya.mp3

11:55,Dasa Disa Piritha,school bell sound effect.mp3

12:00,Dasa Disa Piritha,school bell sound effect.mp3

12:25,Dasa Disa Piritha,school bell sound effect.mp3

12:30,Dasa Disa Piritha,school bell sound effect.mp3

13:00,Dasa Disa Piritha,school bell sound effect.mp3

13:05,2 Lunch end, Set 03 Machine Cleaning,school bell sound effect.mp3

13:30,Lunch - 03 Set (start),school bell sound effect.mp3

13:35,3 Set Lunch end,school bell sound effect.mp3

15:15,1 Set Tea Time,school bell sound effect.mp3

15:30,1 Set ( End), 2 Tea Time (Start),school bell sound effect.mp3

15:45,2 Set (End), 3 Tea Time(Start),school bell sound effect.mp3

16:00,3 Set (End),school bell sound effect.mp3

17:30,Machiene Cleaning,school bell sound effect.mp3

17:35,Factory Off,school bell sound effect.mp3

